.form_control{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
.form_control label{
    margin-bottom: .6em;
    font-weight: bold;
}
.form_control select{
    padding: .7em;
    border-radius: 0;
    border: none;
    
}
.specialText {
    color: #ffbb33;
    padding: 0 .2em;
    background-color: #2f4f4f;
    font-weight: bold;
}
